nav {
    background-color: #4F285E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    position: absolute;
    padding-left: 10%;
    top: 0;
    left: 0;
    color : #F7E6FE;
}
ol {
    display: flex;
    flex-direction: row;
}
a {
    color : #F7E6FE;
}
li {
    list-style-type: none;
    padding: 0 25px;
    color : #F7E6FE;
}
